/* You can add global styles to this file, and also import other style files */

/*
  Color del Loading
*/
svg path,
svg rect{
  fill: black;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
  
.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
  
.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@media (prefers-reduced-motion) {
    .animated {
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}